@import url("https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap");
.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer; }

.btn-main {
  color: #17252a;
  background: #3aafa9; }

.btn-light {
  color: #17252a;
  background: #def2f1; }

.btn-dark {
  color: #feffff;
  background: #17252a; }

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #3aafa9; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.section-title {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase; }

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #3aafa9;
  display: block;
  margin: 0 auto 1rem auto; }

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); }

.item {
  position: relative;
  background: #3aafa9;
  overflow: hidden; }
  .item::after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1); }
  .item:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg); }
  .item:hover .item-image {
    transform: scale(1.2); }
  .item:hover .item-text {
    opacity: 1;
    transform: translateY(0); }
  .item-image {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1); }
  .item-image:before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden; }
  .item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 0; }
  .item-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: white;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms; }
  .item-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); }
  .item-text-title {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 5px 0 0 0; }
  .item-text-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.7;
    margin: 0; }

@font-face {
  font-family: Old Growth;
  src: url("../fonts/oldgrowth-regular-webfont.woff"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background: #feffff; }

a {
  text-decoration: none;
  color: #17252a; }

h2, h3, h4 {
  text-transform: uppercase; }

img {
  width: 100%; }

.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%; }

#header-home {
  background: url("../img/atacama-min.jpeg") no-repeat center left/cover;
  height: 100vh;
  display: flex;
  flex-direction: column; }
  #header-home .header-content {
    color: #def2f1;
    text-align: center;
    padding: 4rem; }
    #header-home .header-content h1 {
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-size: 2rem;
      font-weight: lighter;
      line-height: 1.2;
      padding-bottom: 1.5rem; }
    #header-home .header-content #typewriter {
      font-family: Old Growth, 'Oswald';
      font-size: 2rem;
      padding-bottom: 1.5rem;
      color: #2b7a78;
      font-weight: bold; }
    #header-home .header-content .btn-light {
      text-align: center; }
  #header-home .main-nav {
    width: 100vw;
    align-self: flex-end;
    overflow: hidden;
    display: flex;
    flex-flow: row-reverse;
    background: #17252a;
    height: 4rem;
    z-index: 100; }
    #header-home .main-nav ul {
      display: flex;
      margin-right: 4rem; }
    #header-home .main-nav li {
      list-style: none;
      padding: 1rem 1.5rem;
      font-weight: bold; }
    #header-home .main-nav a {
      text-decoration: none;
      font-size: 20px;
      color: #def2f1;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s; }
      #header-home .main-nav a:hover {
        border-color: #def2f1; }
      #header-home .main-nav a.current {
        color: #3aafa9; }

#home-a {
  background: #feffff; }
  #home-a .about-info {
    display: flex; }
  #home-a .bio-image {
    margin: 1rem;
    height: 20rem;
    width: auto; }
  #home-a .bio {
    background-color: #def2f1;
    margin: 1rem;
    border-left: 3px solid #3aafa9;
    padding: 0.8rem;
    text-align: left; }
    #home-a .bio p {
      font-size: 14px; }
  #home-a .social-media {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem; }
    #home-a .social-media i {
      height: 2rem; }
      #home-a .social-media i:hover {
        color: #3aafa9; }

#home-b {
  background: #def2f1; }
  #home-b .specialties {
    margin-top: 3rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr); }
    #home-b .specialties p {
      overflow: hidden; }
    #home-b .specialties .fas {
      color: #3aafa9;
      padding-bottom: 0.4rem; }

#home-c {
  background: #feffff; }
  #home-c .skills {
    padding: .8rem 3rem; }
    #home-c .skills h4 {
      text-align: left; }
    #home-c .skills .progress {
      overflow: hidden;
      height: 15px;
      background: #17252a;
      border-radius: 5px;
      margin-bottom: 0.3rem; }
      #home-c .skills .progress div {
        height: 100%;
        color: white;
        text-align: center;
        background: #3aafa9; }

#home-d {
  background: #def2f1; }
  #home-d .skills {
    padding: .8rem 3rem; }
    #home-d .skills h4 {
      text-align: left; }
    #home-d .skills .progress {
      overflow: hidden;
      height: 15px;
      background: #17252a;
      border-radius: 5px;
      margin-bottom: 0.3rem; }
      #home-d .skills .progress div {
        height: 100%;
        color: white;
        text-align: center;
        background: #3aafa9; }

#home-e {
  background: #17252a;
  color: #def2f1; }
  #home-e .photos {
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    #home-e .photos .tall {
      height: 522px;
      width: 380px;
      margin: 1rem;
      margin-top: 0; }
    #home-e .photos .short {
      height: 276px;
      width: 380px;
      margin: 1rem;
      margin-top: 0; }

#home-f {
  background: #def2f1; }
  #home-f .contact-page {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #home-f .contact-page form {
      margin: 0 5rem 2rem 5rem;
      width: 70%; }
      #home-f .contact-page form .text-fields {
        display: grid;
        grid-template-areas: 'name subject' 'email phone' 'message message';
        grid-gap: 1.2rem;
        margin-bottom: 1.2rem; }
        #home-f .contact-page form .text-fields .name-input {
          grid-area: name; }
        #home-f .contact-page form .text-fields .subject-input {
          grid-area: subject; }
        #home-f .contact-page form .text-fields .email-input {
          grid-area: email; }
        #home-f .contact-page form .text-fields .phone-input {
          grid-area: phone; }
        #home-f .contact-page form .text-fields .message-input {
          grid-area: message;
          height: 120px; }
        #home-f .contact-page form .text-fields .text-input {
          padding: 0.5rem 1rem; }
        #home-f .contact-page form .text-fields button {
          width: 50px; }
      #home-f .contact-page form .recaptcha {
        margin: 2rem 0;
        display: flex;
        justify-content: center; }
    #home-f .contact-page #contact-info {
      background: #def2f1;
      width: 20rem; }

#main-footer {
  background: #17252a;
  color: #feffff;
  height: 4rem; }
  #main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center; }
    #main-footer .footer-content .social .fab {
      color: #feffff;
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem; }
      #main-footer .footer-content .social .fab:hover {
        background: #3aafa9; }

@media (max-width: 800px) {
  #header-home {
    height: 30rem; }
    #header-home .main-nav ul {
      margin: 0 auto; }
  #home-a .about-info {
    flex-direction: column; }
    #home-a .about-info .social-media {
      margin: 0 auto;
      padding: 1rem;
      width: 50%; }
  #home-f form {
    margin: 0 auto;
    width: 70vw; } }

@media (max-width: 500px) {
  #header-home {
    height: 10rem;
    border-bottom: 3px solid #3aafa9; }
    #header-home .header-content {
      display: none; }
    #header-home .main-nav {
      height: 4rem; }
      #header-home .main-nav ul {
        align-items: center;
        flex-flow: row wrap; }
        #header-home .main-nav ul #home-li {
          display: none; }
        #header-home .main-nav ul li {
          padding: 0.3rem; }
          #header-home .main-nav ul li a {
            font-size: 12px; }
  #home-a {
    padding: 1rem; }
    #home-a .container {
      padding: 0; }
    #home-a .about-info {
      align-items: center; }
    #home-a .social-media i {
      margin: 0.3rem; }
    #home-a .bio {
      margin: 1rem 0;
      padding: 0.5rem;
      border: none; }
  #home-b {
    padding: 1rem; }
    #home-b .specialties {
      margin-top: 1rem;
      display: flex;
      flex-direction: column; }
      #home-b .specialties div {
        margin: 1rem 0; }
  #home-c {
    padding: 1rem; }
    #home-c .skills {
      padding: 0; }
  #home-d {
    padding: 1rem; }
    #home-d .items {
      display: grid;
      grid-template-columns: 1fr; }
      #home-d .items .item-text p {
        font-size: 15px; }
      #home-d .items .item-text h2 {
        font-size: 20px; }
  #home-e {
    padding: 1rem; }
    #home-e .photos .tall {
      margin: 0.5rem 0;
      height: 405px; }
    #home-e .photos .short {
      margin: 0.5rem 0;
      height: 215px; }
  #home-f {
    padding: 1rem; }
    #home-f .contact-page form {
      width: 100%;
      margin: 0 0 2rem 0; }
      #home-f .contact-page form .text-fields {
        grid-template-areas: "name" "subject" "email" "phone" "message"; }
  #main-footer {
    height: 4rem; }
    #main-footer .footer-content .social .fab {
      display: none; }
      #main-footer .footer-content .social .fab:hover {
        background: #3aafa9; } }
