// Variables
$website-width: 1280px;

// Colors
$main-color: #3aafa9;
$main-dark-color: #2b7a78;
$light-color: #feffff;
$medium-color: #def2f1;
$dark-color: #17252a;

// Images
$bg-image: url('../img/atacama-min.jpeg')