@import 'config';
@import 'utilities';

@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap');

@font-face {
    font-family: Old Growth;
    src: url('../fonts/oldgrowth-regular-webfont.woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background: $light-color;
}

a {
    text-decoration: none;
    color: $dark-color;
}

h2, h3, h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
}

// Main Nav
.main-nav {
    overflow: hidden;
    display: flex;
    flex-flow: row-reverse;
    background: $dark-color;
    height: 8vh;
    z-index: 1;

    ul {
        display: flex;
    }

    li {
        list-style: none;
        padding: .8rem 1.5rem;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        color: $medium-color;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover {
            border-color: $medium-color;
        }

        &.current {
            color: $main-color;
        }
    }
}

// Header
#header {
    // header home
    &-home {
        background: $bg-image no-repeat center left / cover;
        height: 92vh;

        .header-content {
            color: $medium-color;
            position: relative;
            text-align: center;
            margin-top: 10rem;
            padding: 4rem;

            h1 {
                text-align: center;
                font-family: 'Oswald', sans-serif;
                font-size: 2rem;
                font-weight: lighter;
                line-height: 1.2;
                padding-bottom: 1.5rem;
            }

            #typewriter {
                font-family: Old Growth, 'Oswald';
                font-size: 2rem;
                padding-bottom: 1.5rem;
                color: $main-dark-color;
                font-weight: bold;
            }

            .btn-light {
                text-align: center;
            }
        }
    }
}

// Home Sections
#home {
    // About Me
    &-a {
        padding-top: 10vh;
        background: $light-color;
        height: 75vh;
        .about-info {
            display: grid;
            grid-template-areas: 
                'bioimage bio'
                'social bio'
                'resume bio';
            grid-gap: 1.2rem;
        }
        // Grid Area
        .bio-image {
            height: 20rem;
            width: auto;
            grid-area: bioimage;
        }
        .bio {
            background-color: $light-color;
            grid-area: bio;
            border-left: 3px solid $main-color;
            padding: 0.8rem;
        }
        .social-media {
            grid-area: social;
            display: flex;
            justify-content: space-evenly;
            margin: 1rem;

            i {
                height: 2rem;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }
    // Specialization
    &-b {
        background: $medium-color;
        height: 50vh;

        .specialties {
            margin-top: 3rem;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(3, 1fr);

            .fas {
                color: $main-color;
                padding-bottom: 0.4rem;
            }
        }
    }

    // Technical Skills
    &-c {
        background: $light-color;
        height: 50vh;
          // Technical Skills
          .skills {
            padding: .8rem 3rem;

            h4 {
                text-align: left;
            }

            .progress {
                overflow: hidden;
                height: 15px;
                background: $dark-color;
                border-radius: 5px;
                margin-bottom: 0.3rem;
    
                div {
                    height: 100%;
                    color: white;
                    text-align: center;
                    background: $main-color;
                }
            }
        }
    }
}

// Footer
#main-footer {
    background: $dark-color;
    color: $light-color;
    height: 4rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        height: 4rem;
        align-items: center;

        .social .fab {
            margin-right: 1rem;
            border: 2px #fff solid;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            line-height: 20px;
            text-align: center;
            padding: 0.5rem;

            &:hover {
                background: $main-color;
            }
        }
    }
}